html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../Assets/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--white);
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #171717;
    width: 50%;
}

.content {
/*    background-color: #171717;*/
}


.left-container {
    padding: 0;
    overflow: hidden;
}

.left-container img {
    object-fit: cover;
    object-position: center;
}

.email-text-field {
    color: white;
}
.right-container {
    padding: 2.5rem;
}

.title {
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text {
    color: #FFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text a {
    padding-left: 5px;
    color: #4379E4;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

a {
    color: #4379E4;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: flex-end;
    height: 90px;
    align-items: center;
    gap: 20px;
}

.backBtn {
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    background: #0E0E0E;
    color: white;
    cursor: pointer;
}

.nextBtn {
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    background: #0067B8;
    color: white;
    cursor: pointer;
}