@{
    ViewBag.Title = "Home Page";
}
<div class="image-container">
    <img src="~/Content/Assets/steve-johnson-zBacOXolzPI-unsplash.jpg" class="banner-img">
    <div class="column-2">
        <div class="column-left">
            <div class="banner-container">
                <div class="banner-heading">
                    <h2>DESKIFY | Q & A</h2>
                    <p class="banner-desc"> Explore questions deigned to guide you through every stage of your technical journey</p>
                </div>
            </div>
        </div>
        <div class="column-right"></div>
    </div>
</div>
<div class="row">
    <div class="col l3">
        <div>
            <h3 class="filter-title">Filter</h3>
            <hr />
            <h4 class="filter-title">Content</h4>
        </div>
    </div>
    <div class="col l9 question-section">
        <div class="question-header">
            <h3 class="number-of-questions">{{ numberOfQuestions }} questions</h3>
            <button class="btn">Ask a question</button>
        </div>
        <div class="question-card-list">
            <div ng-repeat="question in questions track by $index" class="question-card-list"> <div class="question-card">
                    <div>
                        <h3 class="question-title">
                            <a class="link">
                               {{ question.question }}
                            </a>
                        </h3>
                        <p class="question-text">{{question.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
