@{
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="two-column content">
    <div class="left-container">
        <img src="~/Content/Assets/left-bg.png" />
    </div>
    <div class="right-container">
        @{ 
            Html.RenderPartial("~/Views/Auth/_LoginFormPartial.cshtml");
       }
    </div>
</div>
