@{
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="two-column content">
    <div class="left-container">
        <img src="~/Content/Assets/left-bg.png" />
    </div>
    <div class="right-container">
        <div class="login-form">
            <img src="~/Content/Assets/Deskify Logo.png" />
            <h2 class="title">Sign In</h2>
            <input type="email" placeholder="Enter your Email" required class="email-text-field" />
            <p class="text">No account?<a href="#">Create one!</a></p>
            <a href="#">Can't access your account?</a>
            <div class="btns">
                <button class="backBtn btn">Back</button>
                <button class="nextBtn btn">Next</button>
            </div>
        </div>
    </div>
</div>
