<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/materialize.min.css">
    <link rel="stylesheet" href="~/Content/datatables.min.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/Content/scss/login.css" />
</head>
<body>
    @RenderBody();
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/module.js"></script>
    <script src="~/Scripts/app/service.js"></script>
    <script src="~/Scripts/app/controller.js"></script>
</body>
</html>
