<!DOCTYPE html>
<html ng-app="CustomerTicketApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/materialize.min.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body ng-controller="CustomerTicketController">
    @RenderBody()
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/module.js"></script>
    <script src="~/Scripts/app/service.js"></script>
    <script src="~/Scripts/app/controller.js"></script>
</body>
</html>
